@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
@import 'variables';

// var coresfsd
//teste



* {
    margin: 0px;
    padding: 0px;

    

    
}

html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    font-family: $fonte-padrao;
    font-weight: bold;
}


#header-top {
    grid-column: 1/2;
    background-color: black;
    display: flex;
    justify-content: center;
    
  
  }
  
  #header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 85%;
      max-width: 1440px;
      padding: 15px;

      #logo-area{
          padding: 4px;
          a {
              color:  #fff;
              
          }
          img{
              width: 135px;
            }
          }
      }

      #navbar-top {


          ul  {
              height: 100%;
          }
          li {
              display: inline;
            //   margin: 0px 5px;
              font-size: 1.5rem;
              
            
              span.pipe {
                  color: white;
                  margin: 0px 10px;
                  font-weight: bolder;
              }

              &:nth-child(5),&:nth-child(6)  {
                    a.navbar-top-link {
                        color: $grey-link-color ;
                    }
                    
                  
              }
              a.navbar-top-link {
                  color: white;
                  text-decoration: none;
                  padding: 27px 16px;
                  &:hover {
                      color: $verde-padrao;
                  }
              }


          }
      }
  

  #hambtn {
      display: none;
      .hambtn-bar {
          background-color: white;
          width: 25px;
          height: 3px;
          margin: 5px;
      }
  }


section#banner {
      
      background-color: rgb(155, 240, 225);
      grid-column: 1/2;
      display: flex;
      justify-content: center;
      padding: 70px 0px;
      color: $banner1-font-color;
      
      #banner-container { 
        display: grid;
        grid-template-columns: 2fr  1fr ;
        grid-template-rows: auto auto auto auto ;
        padding: 10px;
        width: 85%;
        max-width: 1440px;
        
        font-size: 1.8rem;
        
        

        #banner-area-1 {
            
            grid-column: 1 / 2;
            margin: 5px 0px;
            font-size: 1.6rem;
            
            
        }

        #banner-area-2 {
            
            grid-column: 1 / 2;
            margin: auto 0px;
            font-weight: 700;
            font-size: 2.1em;
        }

        #banner-area-3 {
            
            grid-column: 1 / 2;
            margin: 24px 0px;
            font-size: 1.5rem;
            font-weight: 400;
            
        }

        #banner-area-4 {
            
            grid-column: 1 / 2;
            margin: 24px 0px;
            font-size: 1.8rem;
            a.banner1-link {
                background-color: #2D46B9;
                padding: 17px 48px;
                color: white;
                border-radius: 500px;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.4rem;
                transform: scale(0.9);
                &:hover {
                    color: red;
                }
            }
            
        }

        #banner-area-5 {
            
            grid-column: 2 ;
            grid-row: 1 / 5;
            display: flex;
            margin: auto 0px;
            img {
                width: 420px;
            }
        }
      }

  }

section#banner-2 {
    
    
      background-color: rgb(41, 65, 171) ;  
      grid-column: 1/2;
      display: flex;
      justify-content: center;
      padding: 70px 0px;
      color: $banner1-font-color;
      #banner-container-2 { 
        display: grid;
        grid-template-columns:   2fr 1fr ;
        grid-template-rows: auto auto auto auto ;
        padding: 10px;
        width: 85%;
        max-width: 1440px;
        color: $verde-padrao;
        font-size: 1.8rem;
        
        

        #banner-2-area-1 {
            
            grid-column: 1 / 2;
            margin: 5px 0px;
            font-size: 1.6rem;
            
            
        }

        #banner-2-area-2 {
            
            grid-column: 1 / 2;
            margin: auto 0px;
            font-weight: 700;
            font-size: 2.1em;
        }

        #banner-2-area-3 {
            
            grid-column: 1 / 2;
            margin: 24px 0px;
            font-size: 1.5rem;
            font-weight: 400;
            
        }

        #banner-2-area-4 {
            
            grid-column: 1 / 2;
            margin: 24px 0px;
            font-size: 1.8rem;
            a.banner2-link {
                background-color: $verde-padrao;
                padding: 17px 48px;
                color: white;
                border-radius: 500px;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.4rem;
                transform: scale(0.9);
                &:hover {
                    color: red;
                }
            }
            
        }

        #banner-2-area-5 {
            grid-column: 2 ;
            grid-row: 1 / 5;
            width: 420px;
            height: 420px;
            
            margin: auto 0px;
        }

      }
       
  }

  
footer {
    background-color: $preto-padrao;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    #footer-container {
      padding: 70px 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      width: 85%;
      max-width: 1440px;
      
      color: white;
      #footer-logo {
        padding: 4px;
        a {
            color:  #fff;
            
        }
        img{
            width: 120px;
          }
        
      }
      nav {

        border: 1px solid red;
          h1 {
              color: $grey-link-color;
              text-transform: uppercase;
              font-size: 1.4rem;
              
          }

          ul {
              list-style: none;
          }

          li {
            margin: 20px 0px;
            a {
                color: white;
                text-decoration: none;
                font-size: 1.4rem;
                &:hover {
                    color: $verde-padrao;
                }
            }
          }
      }

      nav.social-bar {
          border: 1px solid blue;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          ul {
              li {
                    display: inline;  
                    margin: 0px 10px;
                  }
                  
              }
          }
      
      #footer-2 {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-content: flex-start;
          margin: 100px 0px 20px 0px;
          font-size: 0.6rem;

          

          nav {
              
              ul {
                  li {
                      display: inline;
                      margin: 20px 25px;
                  }
              }
          }
      }

    }
}



@media (max-width: 1200px) {
    section#banner {
        padding: 25px 0px;
    #banner-container { 
        padding: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 95%;
        text-align: center;
        
        
        

        #banner-area-1 {
            
            
            
            font-size: 1.2rem;
            margin: 15px 0px;
            
            
        }

        #banner-area-2 {
            

            
            font-weight: 700;
            font-size: 1.1em;
            margin: 25px 0px;
        }

        #banner-area-3 {
            
            font-size: 1.2rem;
            font-weight: 400;
            margin: 25px 0px;
            
        }

        #banner-area-4 {
            
            margin: 25px 0px;
            font-size: 1.4rem;
            
            a.banner1-link {
                padding: 15px 135px;
                font-size: 1.4rem;
                transform: scale(0.9);
                &:hover {
                    transform: scale(40);
                }
            }
            
        }

        #banner-area-5 {
            
            
            
            display: flex;
            justify-content: center;
            text-align: center;
            margin: 25px 0px;
            img {
                
                width: 320px;
            }
        }
      }
    }

    section#banner-2 {
        padding: 95px 0px;
    #banner-container-2 { 
        padding: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 95%;
        text-align: center;
        
        
        
        

        #banner-2-area-1 {
            
            
            margin: 5px 0px;
            font-size: 1.2rem;
            margin: 15px 0px;
            
            
        }

        #banner-2-area-2 {
            

            
            font-weight: 700;
            font-size: 1.1em;
            margin: 25px 0px;
        }

        #banner-2-area-3 {
            
            font-size: 1.2rem;
            font-weight: 400;
            margin: 25px 0px;
            
        }

        #banner-2-area-4 {
            
            margin: 25px 0px;
            font-size: 1.4rem;
            
            a.banner2-link {
                padding: 15px 135px;
                font-size: 1.4rem;
                transform: scale(0.9);
                
                &:hover {
                    transform: scale(40);
                }
            }
            
        }

        #banner-2-area-5 {

            display: none;
         }

        
      }
    }




}



@media (max-width: 990px) {
    #navbar-top {
        display: none;
    }
    #hambtn {
        display: inline;
    }
}


@media (max-width: 760px) {
    #header-container {
        width: 100%;
        padding: 10px;
        #logo-area{
        img{
            width: 100px;
        }
    }
    }
    footer {
       #footer-container { 
        flex-direction: column;

        nav {
            margin:  15px 0px;
        }
    } 
    }
    



    

   



}
